@import '../../styles/base/main.scss';
.Footer{
  padding: 1.5rem 2rem;
  background-color: $grey;
  gap: 1rem;
  .MuiGrid-item{
    @media screen and (max-width : $sm) {
      justify-content: center !important;
    }
  }
  .logo{
    width: 115px;
    height: 85px;
    object-fit: contain;
  }
  .copyright{
    margin: 0;
  }
  span{
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

  }
  .country{
    svg{
      color: $primary-green;
      margin-right: 1rem;
    }
  }
  .social{
    svg{
      font-size: 2rem;
    }
  }
}