@import '../../styles/base/main.scss';
.gallery{
  padding: 4rem 2rem;
  // background-color: $backgroundGreen;
  background-image: linear-gradient(to bottom right, rgba(0, 160, 161, 0.2), rgba(0, 160, 161, 0.25));
  @media  (max-width: 260px){
    padding: 0;
  }
  .title{
    color: $prim-highlight;
    font-size: 48px;
    font-weight: $wt-extraBold;
    text-align: center;
    @media  (max-width: 300px){
      font-size: 42px;
    }
  }
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 62px 6rem;
    tr{
      // @include centreAlign;
      .image{
        
        img{
          box-shadow: 0 0 8px rgba(85, 85, 85, 50%);
          margin: 0 auto;
          width: 400px;
          height: 400px;
          object-fit: contain;
          border-radius: 14px;
        }
      }
    }
    @media  (max-width: 1100px) {
      border-spacing: 0;
      tr{
        .image{
          @include centreAlign;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .images{
    display: grid;
    grid-template-columns: auto auto auto;
    gap : 4rem 2rem;
    @media  (max-width: 1050px){
      gap : 4rem 1rem;
    }
    @media  (max-width: 960px){
      grid-template-columns: auto;
    }
    .polaroid{
      width: 350px;
      height: 400px;
      background-color: $marine-blue;
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      @media  (max-width: 1200px){
        width: 290px;
      }
      @media  (max-width: 400px){
        height: 300px;
      }
      @media  (max-width: 350px){
        width: 250px;
      }
      @media  (max-width: 300px){
        width: 220px;
      }
      img{
        width: 90%;
        height: 80%;
        object-fit: cover;
        margin: 25px auto 0 auto;
        // background-color: $white;
      }
      .clip{
        position: absolute;
        top: -15px;
        width: 100px;
        height: 30px;
        left: 125px;
        background-color: $blue;
        @media  (max-width: 1200px){
          left: 100px;
        }
        @media  (max-width: 350px){
          left: 60px;  

        }
        @media  (max-width: 300px){

        }
      }
    }
  }
}