@import '../../styles/base/main.scss';
.homePage{
  .heroSection{
    width: 100%;
    height: 509px;
    background-image: url('./heroImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width : $md) {
      height: 250px;
      background-image: url('./heroImageSm.png');
    }
    @media screen and (max-width : $sm) {
      height: 170px;
    }
    .content{
      padding: 6rem 1rem 1rem 6rem;
      width: fit-content;
      @media screen and (max-width : $md) {
        padding: 1.5rem 0 0 2rem;
      }
      p{
        font-weight: 300;
        font-size: 65px;
        line-height: 24px;
        color: $white;
        @include fontAdjust($md,36px,24px);
        @include fontAdjust($sm,24px,24px);
        @media screen and (max-width : $sm) {
          margin: 0.5rem 0;
        }
      }
    }
  }
  .whyKLife{
    h2{
      text-align: center;
      color: $primary-green;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      margin-bottom: 9px;
      @include fontAdjust($sm,24px,30px);
    }
    p{
      color: $prim-highlight;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-top: 0;
      @include fontAdjust($sm,16px,24px);
    }
    .content{
      // margin-bottom: 2rem;
      .reasons{
        gap: 2rem;
        .reason{
          @include centreAlign;
          flex-direction: column;
          img{
            width: 135px;
            height: 135px;
            object-fit: contain;
            margin-bottom: 30px;
            @media screen and (max-width : $sm) {
              width: 90px;
              height: 90px;
            }
          }
          p{
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: $black;
            margin-bottom: 22px;
            @include fontAdjust($sm,15px,null);
          }
          .line{
            height: 6px;
            background-color: $primary-green;
            width: 80%;
            margin: auto;
          }
        }
      }
    }
    .description{
      color: $black;
      font-weight: 300;
      width: 90%;
      font-size: 18px;
      line-height: 25px;
      margin: 3rem auto;
      @include fontAdjust($sm,14px,null);
    }
  }
  .marquee{
    background-color: $grey;
    padding-top: 2rem ;
    h2{
      text-align: center;
      color: $primary-green;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      margin: 0;
      margin-bottom: 9px;
      @include fontAdjust($sm,24px,30px);
    }
    p{
      color: $prim-highlight;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin: 0;
      margin-bottom: 3rem;
      @include fontAdjust($sm,16px,24px);
    }
    .carrousel{
      padding : 6rem 0;
      // background-color: $prim-highlight;
      background-image: linear-gradient(to left, #151f6d, #1b2575, #222b7d, #273286, #2d388e);
      @include blueBgGradient;
      .MuiSvgIcon-root{
        color: $primary-green;
        font-size: 4rem;
        cursor: pointer;
        width: fit-content;
        z-index: 2;
      }
      .slick-next{
        right: 0.8rem;
        @media screen and (max-width : $sm) {
          right: -0.8rem;
        }
      }
      .slick-prev {
        left: 0.8rem;
        @media screen and (max-width : $sm) {
          left: -0.5rem;
        }
        @media screen and (min-width : 1500px) {
          // left: 1rem;
        }
      }
      .slick-slide{
        @include centreAlign;
      }

      .card{
        // width: fit-content;
        height: 400px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        width: 350px !important;
        max-width: 80vw !important;
        @media screen and (max-width : 1200px) and (min-width : 1000px) {
          width: 300px !important;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .content{
          position: absolute;
          bottom: 0;
          margin-top: auto;
          width: 100%;
          height: 130px;
          background: rgba(31, 160, 160, 0.9);
          color: $white;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          h3{
            border-bottom: 3px solid $white;
            padding-bottom: 1rem;
            font-weight: 600;
            font-size: 24px;
            margin-top: auto;
            margin-bottom: 0;

          }
          p{
            font-weight: 600;
            color: $white;
            margin: 0.5rem 0 0;
            font-size: 14px;
            line-height: 19px;
            text-align: left;
          }
        }
      }
    }
  }
  .latestProducts{
    width: 100%;
    // // height: 260px;
    // background-image: url('./latestBg.png');
    // background-repeat: no-repeat;
    // background-size: 100% ;
    // background-position-y: 3rem;
    .header{
      // background-color: $white;
      @include titleDesc;
    }
    .products{
      margin-bottom: 6rem;
      .slick-slide{
        @include centreAlign;
      }
      .slick-track{
        padding: 5rem 0;
      }
      .MuiSvgIcon-root{
        color: $primary-green;
        font-size: 4rem;
        cursor: pointer;
        width: fit-content;
        z-index: 2;
      }
      .slick-next{
        right: 0.8rem;
        @media screen and (max-width : $sm) {
          right: -0.8rem;
        }
      }
      .slick-prev {
        left: 0.8rem;
        @media screen and (max-width : $sm) {
          left: -0.5rem;
        }
        @media screen and (min-width : 1500px) {
          // left: 1rem;
        }
      }
      .card{
        width: 100%;
        height: 400px;
        max-width: 20vw;
        background: linear-gradient(180deg, #FFFFFF 24.48%, #1FA0A0 71.87%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        @media screen and (max-width : $md) {
          max-width: 60vw;
        }
        .image{
          width: 100%;
          @include centreAlign;
          img{
            width: 100%;
            height: 200px;
            object-fit: contain ;
            @media screen and (max-width : $lg) and (min-width : $md){
              width: 90%  ;
            }
          }
        }
        h4{
          margin : auto auto 1rem;
          color: $white;
          font-weight: bold;
          line-break: strict;
          width: 90%;
          display: flex;
          align-items: flex-end;
          text-align: left;
          height: 150px;
          font-size: 18px;
          line-height: 33px;
        }
        .content{
          position: absolute;
          bottom: -25px;
          left: 0;
          background-color: $prim-highlight;
          width: 100%;
          height: 50px;
          border-radius: 50px;
          border: 1px solid;
          padding: 0 1rem ;
          @include spaceBetween;
          p{
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: $white;
            padding: 0;
          }
          .arrow{
            color: $primary-green;
            font-size: 2rem;
            cursor: pointer;
            background-color: $white;
            border-radius: 50%;
          }
        }
      }
      // background-color: $white;
      .productsGrid{
        // margin-top: 3rem;
        gap: 2rem;
        // padding: 0 2rem;
      }
    }
  }
}
