@import '../../../styles/base/main.scss';
.productDetail{
  width: 90%;
  margin: auto;
  .CategoryTitle{
    h2{
      font-size: 48px;
      line-height: 60px;
      color: $primary-green;
    }
  }
  .productDetailImages{
    margin: 2rem 0;
    svg{
      color: $primary-green;
      font-size: 3.5rem;
      cursor: pointer;
    }
    .heroImage{
      width: 100%;
      height: 260px;
      object-fit: contain;
    }
    .allImages{
      img{
        width: 100%;
        height: 100px;
        object-fit: contain;
      }
    }
  }
  .productBadge{
    margin: 2rem auto;
    img{
      height: 80px;
      width: 100%;
      object-fit: contain;
    }
    a{
      text-decoration: none;
      color: $black;
      margin: 2rem auto;
      font-size: 24px;
    }
  }
  .product{
    h3{
      font-size: 36px;
      line-height: 40px;
      color: $prim-highlight;
      width: 100%;
      margin: 1.5rem 0;
    }
    .subHeading{
      margin: 1.5rem 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px; 
      color: $primary-green;     
      width: 100%;
    }
    .description{
      font-size: 18px;
      line-height: 24px;
      color: $black;
      font-style: normal;
      font-weight: normal;
    }
    .list{
      list-style-type: '+';
      li{
        font-size: 18px;
        line-height: 24px;
        color: $black;
        font-style: normal;
        font-weight: normal;
        padding-left: 2rem;
      }
    }
    .list.star{
      list-style-type: '*';
    }
    table{
      margin: 1.5rem 0;
      width: 100%;
      border-collapse: collapse;
      tr{
        &:nth-child(odd){
          background-color: #f0eded;
        }
        &:nth-child(even){
          background-color: $white;
        }
        td{
          min-height: fit-content;
          border: 1px solid #dddddd;
          padding: 1rem 1.5rem;
          
          &:first-child{
            color: $darkGrey;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
          }
          &:last-child{
            color: #aaa8a8;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
  }
}