@import '../../styles/base/main.scss';
.AboutUs{
  @include bannerContent;
  .header{
    background-color: $white;
    @include titleDesc;
    h2{
      padding-bottom: 23px;
    }
  }
  .headerGrey{
    background-color: $grey;

  }
  .text{
    padding: 5rem 4rem;
    @include blueBgGradient;
    p{
      color: $white;
      font-weight: normal;
      font-size: 22px;
      text-align: start;
      line-height: 34px;
    }
  }
  .partners{
    background-color: $white;
    padding: 5rem 4rem;
    @include centreAlign;
    gap: 5rem;
    flex-wrap: wrap;
    .info{
      p{
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        &:last-of-type{
          margin-top: 2rem;
        }
      }
    }
    img{
      object-fit: contain;
    }
  }
}