@import '../../styles/base/main.scss';
.contactUs{
  @include bannerContent;
  .header{
    background-color: $white;
    @include titleDesc;
  }
  .innerWrapper{
    gap: 3rem;
    margin-bottom: 5rem;
    @media screen and (max-width : $md) {
      width: 90%;
      margin: auto;
    }
    h4{
      font-weight: normal;
      font-size: 35px;
      line-height: 48px;
      color: $prim-highlight;
    }
    .form{

      margin-bottom: auto;
      .input{
        width: 100%;
        margin: 1rem 0;
        .MuiFilledInput-root{
          border-radius: 4px;
        }
        .MuiFilledInput-underline:before{
          border: 0;
        }
        input{
          @media screen and (max-width : $md) {
            padding: 0.6rem 0.4rem;
          }
        }
      }
    }
    .location{
      flex-direction: column;
      margin-bottom: auto;
      .gmap_canvas{
        @media screen and (max-width : $md) {
          width: 90%;
          margin: auto;
          iframe{
            height: 400px !important;
          }
        }
      }
      .address{
        @media screen and (max-width : $md) {
          margin-bottom: 2rem;
        }
        h4{
          margin: 2rem 0;
        }
        p{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          margin: 2px 0;
          @media screen and (max-width : $md) {
            text-align: center;
          }
          a{
            text-decoration: none;
            color: $black;
          }

        }
        .contact{
          margin-top: 2rem;
        }
      }
    }
  }
}