@import '../../../styles/base/main.scss';
.displayProducts{
  background-color: $backgroundGreen;
  padding: 6rem 3rem ;
  @media (max-width : 1000px){
    padding: 6rem 0rem ;
  }
  .title{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: $prim-highlight;
  }
  .description{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $darkGrey;
    margin: 2rem 0;
  }
  .products{
    width: 100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 4rem 2rem ;
    margin: 4rem auto;
    justify-content: center;
    @media (max-width : 1000px){
      grid-template-columns: auto;
    }
    .product{
      @include centreAlign;
      @media (max-width : 310px){
        .Card4{
          width: 250px;
          min-width: unset;
        }
      }
      @media (max-width : 310px){
        .Card4{
          width: 200px;
        }
      }
    }
  }
}