@import '../../../styles/base/main.scss';
.displayProducts{
  .banner{
    width: 100%;
    height: 500px;
    object-fit: cover;
    @media screen and (max-width : $md) {
      height: 250px;
      background-image: url('./bannerSm.png');
    }
    @media screen and (max-width : $sm) {
      height: 180px;
    }
    @media screen and (max-width : 400px) {
      height: 150px;
    }
  }
  .products{
    // padding: 0 8rem;
    width: 80%;
    margin: 5rem auto;
    .MuiAccordionSummary-content, .MuiAccordionSummary-content.Mui-expanded {
      margin: 0px ;
    }
    .productCategory{
      margin: 2rem 0;
      box-shadow: none ;
      border-radius: 0%;
      &::before{
        content: none;
      }
      .summary{
        background-color: $primary-green;
        color: $white;
        border-radius: 10px;
        @media screen and (max-width : $sm) {
          min-height: 30px;
        }
        h2{
          @include fontAdjust($sm,18px,null);
          @include fontAdjust(400,16px,null);
        }
        svg{
          color: $white;
          font-size: x-large;
        }
      }
      .details{
        flex-direction: column;
        gap: 3rem;
      }
      .product{
        svg{
          color: $primary-green;
          font-size: 3.5rem;
          cursor: pointer;
        }
        .heroImage{
          width: 100%;
          height: 260px;
          object-fit: contain;
        }
        .allImages{
          img{
            width: 100%;
            height: 100px;
            object-fit: contain;
          }
        }
        .content{
          padding-left: 2rem;
          h3{
            border-bottom: 3px solid $primary-green;
            width: fit-content;
            padding-bottom: 0.5rem;
            padding-right: 2rem;
            color: $black;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
          }
          h4{
            color: $primary-green;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            margin: 1rem 0;
          }
          p{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $darkGrey;
            span{
              color: $primary-green;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}